.card {
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 30vw;
    border-radius: 20px;
    padding: 3vw;
    transition: 0.4s ease-out;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    left: 0px;
    gap: 5%;

}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.card:first-child {
    transform: rotate(-5deg); 
}

.card:nth-child(2) {
    transform: translateY(-30px); 
}

.card:last-child {
    transform: translateY(-20px);
    transform: rotate(5deg);
    
}






.bubbles {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    flex-wrap: wrap;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    align-items: center;
    justify-content: center;
}


.head {
    display: flex;
    gap: 1vw;
    flex-direction: column;
}

.card h1 {
    font-size: 1.6vw;
    color: var(--text-color);
}

.card h2 {
    font-size: 1vw;
    color: var(--text-color);
}



.card p {
    font-size: 1vw;
    color: var(--text-color);
    font-family: "Suisse Int'l", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

